# Core
pandas==2.3.2
numpy==2.3.2
scikit-learn==1.7.1
scipy==1.16.1

# Modelo
xgboost==3.0.5
holidays==0.80

# Streamlit
streamlit==1.49.1
pyarrow==21.0.0
pillow==11.3.0

# Utilidades
joblib==1.5.2
requests==2.32.5

# Base de datos
SQLAlchemy==2.0.43